<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--<bean id="xstreamMarshaller" class="org.springframework.oxm.xstream.XStreamMarshaller"/>-->

    <!--<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">-->
        <!--<property name="messageConverters">-->
            <!--<list>-->
                <!--<bean id="jsonHttpMessageConverter"-->
                      <!--class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter"-->
                      <!--p:prefixJson="false"-->
                      <!--p:supportedMediaTypes="application/json"/>-->
                <!--&lt;!&ndash;<bean id="marshallingHttpMessageConverter"&ndash;&gt;-->
                      <!--&lt;!&ndash;class="org.springframework.http.converter.xml.MarshallingHttpMessageConverter"&ndash;&gt;-->
                      <!--&lt;!&ndash;p:marshaller-ref="xstreamMarshaller"&ndash;&gt;-->
                      <!--&lt;!&ndash;p:unmarshaller-ref="xstreamMarshaller"&ndash;&gt;-->
                      <!--&lt;!&ndash;p:supportedMediaTypes="application/xml"/>&ndash;&gt;-->
            <!--</list>-->
        <!--</property>-->
    <!--</bean>-->

</beans>